.main_container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 100px;
  background-color: #F5F5F5;
}

// input:focus {
//   outline: none;
// }

.main_posters_container {
  width: 100%;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  margin-bottom: 30px;
}

.main_poster {
  width: 100%;
  border-radius: 10px;
  background-color: white;
}

.main_poster_link {
  text-decoration: none;
  color: inherit;
}

.main_poster_update_delete {
  display: flex;
  justify-content: center;
}

.main_poster_link_update {
  padding: 0 5px;
  text-decoration: none;
  color: inherit;
  border: 1px solid #4F4F4F;
  border-radius: 2px;
  background-color: #E5E5E5;
}

.main_poster_img {
  width: 100%;
  // height: 100%;
  border-radius: 10px 10px 0 0;
  margin: 0;
  text-align: center;
}

.main_change {
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 950px) {
  .main_posters_container {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .main_container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 625px) {
  .main_posters_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main_container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 430px) {
  .main_posters_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .main_container {
    padding: 0 30px;
  }
}